/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

p {
    font-size: 1.5em;
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h3 {
    text-align: center;
}
nav {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(100,100,100,0.5);
}
.mainHeader {
    background-image: url("/assets/images/webdesign.jpeg");
    background-size: cover;
    background-position-y: center;
    height: 600px;
}
.portfolioHeader {
    background-image: url("/assets/images/portfoliobg.jpeg");
    background-size: cover;
    background-position-y: center;
    height: 400px;
}
.intro, .midpoint, .laterpoint {
    background-color: rgb(58, 58, 58);
    color: rgb(200,200,200);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.65em;
    text-align: justify;
    line-height: 30px;
    padding: 50px;
}
.laterpoint {
    margin-bottom: 200px;
}
main {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 30px;
}
.parallax-container {
    height: 400px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 30px;
    background-color: rgb(100,100,100);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 50px;
}
